@font-face {
    font-family: 'Oswald';
    src: url('fonts/Oswald-Regular.ttf') format('truetype');
    font-family: 'Pixel';
    src: url("fontes/Pixel.ttf");
}

* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

html[dark]{
    background-color: black;

  }

html[dark] .conteudo h1{
    color: white;
  }

html[dark] .configuracao {
    background-color: black;
    border: 5px solid yellow;
    color: white;
  }

  html[dark] .conteudo [wm-flappy]  {
    background-color: black;
    border: 5px solid yellow;
    color: white;
  }
  html[dark] .barreira .borda {
    background: linear-gradient(90deg, #ffffff, #515250);
    
  }
  html[dark] .barreira .corpo {
    background: linear-gradient(90deg, #ffffff, #515250);
    
  }
  
  

  html[dark] .button{
    color: white;

  }


body {
    margin: 0;

    height: 100%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

.grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100%;
}



[wm-flappy] {
    position: absolute;
    top: 15%;
    left: 0%;
    border: 5px solid dodgerblue;
    height: 450px;
    width: 800px;
    margin: 15px;
    background-color: deepskyblue;
    overflow: hidden;
}

.configuracao {
    position: absolute;
    top: 15%;
    right: 0%;
    border: 5px solid dodgerblue ;
    height: 450px;
    width: 500px;
    margin: 15px;
    align-items: center;
    background-color: deepskyblue;
    overflow: hidden;
}

.passaro {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
}

.par-de-barreiras {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border: 2px solid #000;
}

.barreira .corpo {
    height: 40px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.progresso {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Pixel;
    font-size: 70px;
    z-index: 100;
}